---
layout: page
title: Opportunities
description: Become a Crescateer
image: assets/images/pic04.jpg
nav-menu: yes
---
<div id="main" class="alt">
<section id="one">
	<div class="inner">
		<h2 id="content">{{ page.title }}</h2>
		<p>The Cresca Group is a charmingly quirky business management consultancy founded in Atlanta in 2010. We create and implement
		growth strategies for multi-channel, multi-national, online retailers by crafting unique and consistent brand images, leveraging
		social media and PPC advertising tools, improving market reach and conversion, and developing back-end systems to simplify and
		streamline processes.</p>

		<h2>Crescateer Characteristics</h2>
		<ul>
			<li>Patient but fast</li>
			<li>Enthusiastically friendly</li>
			<li>Disturbingly detail-oriented</li>
			<li>Eloquent, clear and straightforward in thought and text</li>
			<li>Computer savvy</li>
		</ul>

		{% for post in site.posts %}
		{% if post.category == 'jobs' and post.active == 'active' %}
			<div class="box">
				<h3><a href="{{ post.url }}">{{ post.department }}: {{ post.job-title }}</a></h3>
				{% if post.overview %}
					<p>{{ post.overview }}</p>
				{% endif %}
				<ul>
					{% if post.question-one %}<li>{{ post.question-one }}</li>{% endif %}
					{% if post.question-two %}<li>{{ post.question-two }}</li>{% endif %}
					{% if post.question-three %}<li>{{ post.question-three }}</li>{% endif %}
				</ul>
				{% if post.answer %}<p>{{ post.answer }}</p>{% endif %}
				<ul class="actions buttons-to-right">
					<li><a href="{{ post.apply }}" class="button special small">Apply</a></li>
					<li><a href="{{ post.url }}" class="button small">Learn More</a></li>
				</ul>
			</div>
		{% endif %}
		{% endfor %}

	</div>
</section>
</div>
