---
layout: page
title: Opportunities
description: Become a Crescateer
image: assets/images/pic04.jpg
nav-menu: yes
---
<div id="main" class="alt">
<section id="one">
	<div class="inner">
		<h2>Search our departments to find where you fit.</h2>
		<div class="row">
			<div class="12u 12u$(small)">
				<ul class="actions values">
					<li><a href="#" id="cust-exp" class="button special job-post">Customer Experience</a></li>
					<li><a href="#" id="finance" class="button special job-post">Finance</a></li>
					<li><a href="#" id="fulfillment" class="button special job-post">Fulfillment</a></li>
				</ul>
				<ul class="actions values">
					<li><a href="#" id="marketing" class="button special job-post">Marketing</a></li>
					<li><a href="#" id="operations" class="button special job-post">Operations</a></li>
					<li><a href="#" id="tech-dev" class="button special job-post">Technology &amp; Development</a></li>
				</ul>
			</div>
		</div>

		<div class="box check-back hidden-elem">
			<h4 class="align-center">There are currently no open positions in this department. Please check other departments.</h4>
		</div>

		{% for post in site.posts %}
		{% if post.type == 'jobs' and post.active == 'active' %}
			<div class="box job-box hidden-elem {{ post.identity }}">
				<h3><a href="{{ post.url }}">{{ post.department }}: {{ post.job-title }}</a></h3>
				{% if post.overview %}
					<p>{{ post.overview }}</p>
				{% endif %}
				<ul>
					{% if post.question-one %}<li>{{ post.question-one }}</li>{% endif %}
					{% if post.question-two %}<li>{{ post.question-two }}</li>{% endif %}
					{% if post.question-three %}<li>{{ post.question-three }}</li>{% endif %}
				</ul>
				{% if post.answer %}<p>{{ post.answer }}</p>{% endif %}
				<ul class="actions buttons-to-right">
					<li><a href="{{ post.apply }}" class="button special small">Apply</a></li>
					<li><a href="{{ post.url }}" class="button small">Learn More</a></li>
				</ul>
			</div>
		{% endif %}
		{% endfor %}

		{% assign tags_list = site.categories %}
		    {% for tag in tags_list %}
				<div class="hiddenn-elem cat-info {{ tag[0] }}" data-count="{{ tag[1].size }}"></div>
		    {% endfor %}
		{% assign tags_list = nil %}

	</div>
</section>
</div>
